body {
  background-color: #1b1e29;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

section {
  background-color: #272b37;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  width: 300px;
  border-radius: 10px;
  margin: 0 40px;
}

div#layout {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

section h1 {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

section button {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 48px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

section button:hover {
  background: linear-gradient(
      0deg,
      rgba(87, 92, 106, 0.25),
      rgba(87, 92, 106, 0.25)
    ),
    rgba(255, 255, 255, 0.24);
}

section h2 {
  color: #03bc3d;
  margin-top: 0.2em;
  text-align: center;
}

h1 {
  text-align: center;
}

input {
  height: 40px;
  border-radius: 10px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  padding-inline-start: 20px;
  font-size: 16px;
  margin-top: 20px;
}

section p {
  margin: 0;
  font-size: 12px;
}

section#dagHistorical {
  height: 500px;
}

div#table-container {
  overflow: scroll;
  text-align: center;
}

div#control-pad {
  display: flex;
  margin: 20px;
}

div#control-pad h3 {
  margin: 0 20px;
  font-size: 16px;
}

div#control-pad h3.active {
  border-bottom: 2px solid #03bc3d;
}

tr {
  margin: 10px;
}
th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Add spacing between rows */
tr:not(:last-child) {
  margin-bottom: 10px;
}
tr:nth-child(even) {
  background-color: #616161;
}
/* Add spacing between rows */
tr:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 880px) {
  div#layout {
    flex-direction: column;
    /* margin-top: 0; */
  }

  section {
    margin: 0;
  }

  section#dagHistorical {
    margin-top: 50px;
  }
}
